
@{
    ViewBag.Title = "Index";
}


<h3>MVC Kamp Tablo Örneği - Kategori</h3>
<br />

<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>deneme</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle </button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Film</td>
        <td>Animasyon filmeleri</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle </button></td>
    </tr>
</table>
<button class="btn btn-info"> Yeni Kategori</button>
<button class="btn btn-warning"> Yeni Liste</button>
<button class="btn btn-danger"> Kategori Açıklamaları</button>


